/*********** Base Styles For **********/
* {
    box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, "Times New Roman", sans-serif;
}

h1 {
	text-align: center;
	margin-top: 30px;
}



/*********** Desktop View Only **********/






/*********** Tablet View Only **********/




/*********** Mobile View Only **********/


