/* /* body {
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	color: #000;

}

/* Header Start */

#header-nav {
    background-color: #999;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 2px solid black;
}

.navbar-header button.navbar-toggle:hover,
.navbar-header button.navbar-toggle:focus,
.navbar-header button.navbar-toggle:hover .icon-bar,
.navbar-header button.navbar-toggle:hover .icon-bar {
    border: 2px solid #dddddd;
    background-color: transparent;
}

#nav-list {
    margin-top: 0;
    margin-bottom: 0;
}

#nav-list li {
    border-top: 3px solid black;
}

#nav-list li a {
    color: black;
    text-align: center;
    background-color: beige;
    font-size: 1.2em;
}

#collapsable-nav {
    border-top: 0;
}

.navbar-header button.navbar-toggle {
    clear: both;
}

.menu-item {
    background-color: #999;
    padding-bottom: 20px;
}

h2 {
    font-weight: 600;
    margin-bottom: 40px;
}


/* Header End */

*/ */
